{#
/**
 * @file Video component.
 *
 * Available variables:
 * - title: [string] Title for the iframe.
 * - theme: [string] theme: light, dark.
 * - src: [string] URL of the video.
 * - width: [string] Width of the iframe.
 * - height: [string] Height of the video.
 * - transcript_link: [object] Video transcript link.
 * - share_link: [object] Video share link.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s'|format(theme_class) %}
{% set transcript_link_title = transcript_link.title|default('Opens in new tab') %}
{% set transcript_link_external = transcript_link.external|default(false) %}
{% set share_link_title = share_link.title|default('Opens in new tab') %}
{% set share_link_external = share_link.external|default(false) %}

{% if src is not empty %}
  <div class="civic-video {{ modifier_class }}">
    <div class="civic-video__iframe-container">
      <iframe
        class="civic-video-frame"
        width="{{ width }}"
        height=" {{ height }}"
        src= "{{ src }} "
        allowfullscreen
        data-chromatic="ignore"
        title="{{ title }}"
      >
      </iframe>
    </div>
    <div class="civic-video__links" >
      {% if transcript_link.url is defined and transcript_link.url is not empty %}
        <div class="civic-video__transcript">
          {% include '@atoms/icon/icon.twig' with {
            symbol: 'designtools_eye',
            color: 'primary'
          } only %}

          {% include '@atoms/link/link.twig' with {
            theme: theme,
            text: transcript_link.text,
            title: transcript_link.title,
            url: transcript_link.url,
            new_window: transcript_link.new_window,
            is_external: transcript_link.is_external
          } only %}
        </div>
      {% endif %}
      {% if share_link.url is defined and share_link.url is not empty %}
        <div class="civic-video__share">
          {% include '@atoms/icon/icon.twig' with {
            symbol: 'userinterface_share',
            color: 'primary'
          } only %}

          {% include '@atoms/link/link.twig' with {
            theme: theme,
            text: share_link.text,
            title: share_link.title,
            url: share_link.url,
            new_window: share_link.new_window,
            is_external: share_link.is_external,
          } only %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

