{#
/**
 * @file Navigation card component.
 *
 * Available variables:
 * - image: [object] Consist details of the card image like src, width, height, alt text.
 * - modifier_class: [string] Classes to modify the default component styling.
 * - summary: [string] Summary of the card.
 * - title: [string] The text of card title.
 * - theme: [string] card theme: light, dark. 
 * - type: [string] Card type: large, small, icon.
 * - url: [string] Card link.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}	
{% set type_class = 'civic-nav-card--%s'|format(type|default('large')) %}
{% set modifier_class = modifier_class|default('civic-nav-card--large') %}
{% set modifier_class = '%s %s'|format(theme_class, type_class) %}
{% set url = url|default('#') %}

<a class="civic-nav-card {{ modifier_class }}" href="{{ url }}">
	{% if 'civic-nav-card--large' in modifier_class %}
		<div class="civic-nav-card__image-wrapper">
			<img src="{{ image.src }}" alt="{{ image.alt }}">
			{% if image_over %}
				<div class="civic-nav-card__image-over">{{ image_over }}</div>
			{% endif %}
		</div>
	{% endif %}

	{% if 'civic-nav-card--icon' in modifier_class %}
		<div class="civic-nav-card__icon civic-nav-card__main-icon">
			{% include '@atoms/icon/icon.twig' with {
		    spritesheet: spritesheet,
		    symbol: symbol,
		    color: icon_color
			} only %}
		</div>
	{% endif %}

	<div class="civic-nav-card__content">
		{% if content_top %}
			<div class="civic-nav-card__content-top">{{ content_top }}</div>
		{% endif %}

		<h5 class="civic-nav-card__title">{{ title }}</h5>

		<p class="civic-nav-card__summary">{{ summary }}</p>
		<span class="civic-nav-card__icon civic-nav-card__read-more">
			{% include '@atoms/icon/icon.twig' with {
		    spritesheet: '/icons/civic-arrows.svg',
		    symbol: 'arrows-right-arrow-3',
		    color: 'primary'
			} only %}
		</span>

		{% if content_bottom %}
			<div class="civic-nav-card__content-bottom">{{ content_bottom }}</div>
		{% endif %}
	</div>
</a>
