{#
/**
 * @file
 * Accordion component.
 * Creates an accordion.
 *
 * Variables:
 * - theme: [string] theme: light, dark.
 * - title: [string] Accordion title.
 * - modifier_class: [string] Additional classes to modify component styling.
 * - expand_all: [boolean] All panels exanded.
 * - panels: [array] Accordion panels comprised of:
 *   - title: [string] Accordion panel title
 *   - expanded: [boolean] Accordion panel expanded|closed state.
 *   - content: [string] Accordion panel accordion
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set default_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s'|format(theme_class, default_class, modifier_class|default('')) %}

{% if panels %}
  <div class="civic-accordion {{ modifier_class }}">
    <div class="container">
      <div class="row">
        <div class="civic-accordion__content-top">
          {% if title %}
            <div class="civic-accordion__title-top">
              {{ title }}
            </div>
          {% endif %}
        </div>

        <div class="civic-accordion__inner">
          <ul class="civic-accordion__list" data-multiselectable="true">
            {% for fold in panels %}
              {% set is_expanded = (fold.expanded == true) or (expand_all == true) %}
              <li class="civic-accordion__list-item">
                {% if fold.title %}
                  <div class="civic-accordion__header">
                    {% set is_open = is_expanded ? 'is-selected' : '' %}
                    <button class="civic-accordion__header__button {{ is_open }}">
                      <span>{{ fold.title }}</span>
                      {% include '@atoms/icon/icon.twig' with {
                        symbol: 'arrows_downarrow_1'
                      } only %}
                    </button>
                  </div>
                {% endif %}

                {% if fold.content %}
                  {% set is_open = is_expanded ? 'civic-accordion__content--expanded' : '' %}
                  <div class="civic-accordion__content {{ is_open }}">
                    <div class="civic-accordion__content--inner">
                      {{ fold.content|raw }}
                    </div>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}
