{#
/**
 * @file
 * Input component.
 *
 * Variables:
 * - type: [string] Input type: Text, Textarea, Email, Password, Tel.
 * - modifier_class: [string] Additional classes to modify component styling.
 * - value: [string] Input field value.
 * - placeholder: [string] Input field placeholder text.
 * - id: [string] Input field html ID attribute.
 * - name: [string] Input field html name attribute.
 * - State: [string] Input field state: Error, Success.
 * - required: [boolean] Required state.
 * - disabled: [boolean] Disabled state.
 * - autocomplete: [boolean] Autocomplete state.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set type = type|default('text') %}
{% set disabled_class = disabled ? 'civic-input--disabled' : '' %}
{% set required_class = required ? 'civic-input--required' : '' %}
{% set state_class = state and (state != 'none') ? 'civic-input--%s'|format(state) : '' %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, disabled_class, required_class, state_class, modifier_class) %}
{% set state_icon = (state == 'error') ? 'user-interface-close-2' : 'user-interface-approve' %}

<div class="civic-input {{ modifier_class }}">
  <label class="civic-input__label" for="{{ input_name }}">{{ label }}</label>
  {% if type == 'textarea' %}
    <textarea class="civic-input__element" type="{{ type }}" value="{{ value }}" id="{{ input_id }}" name="{{ input_name }}" placeholder="{{ placeholder }}" {{ disabled ? 'disabled' }} {{ required ? 'required' }} rows="5"></textarea>
  {% else %}
    <input class="civic-input__element" {{ state }} type="{{ type }}" value="{{ value }}" id="{{ input_id }}" name="{{ input_name }}" placeholder="{{ placeholder }}" {{ disabled ? 'disabled' }} {{ required ? 'required' }} {{ autocomplete ? 'autocomplete' }} />

    {% if state and (state != 'none') %}
      <span class="civic-input__state">
        {% include '@atoms/icon/icon.twig' with {
          spritesheet: '/icons/civic-user-interface.svg',
          symbol: state_icon
        } %}
      </span>
    {% endif %}
  {% endif %}
</div>
