{#
/**
 * @file
 * Alert component.
 *
 * Variables:
 * - type: [string] Alert type: Info, Error, Warning, Success.
 * - theme: [string] Light, Dark.
 * - id: [string] Alert id.
 * - title: [string] Alert title.
 * - description: [string] Alert summary.
 */
#}
{% set type = type|default('info') %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set type_class = 'civic-alert--%s'|format(type, type) %}
{% set modifier_class = '%s %s %s'|format(theme_class, type_class, modifier_class | default('')) %}

{% set icons = {
  status: 'userinterface_informationmark',
  info: 'userinterface_informationmark',
  warning: 'userinterface_exclamationmark_1',
  error: 'userinterface_exclamationmark_1',
  success: 'userinterface_approve',
} %}

<div class="civic-alert {{ modifier_class }}" data-alert-id="{{ id }}" data-alert-type="{{ type }}" data-component-name="civic-alert">
  <div class="container">
    <div class="row">
      <div class="civic-alert__title col-xs-12 col-m-3">
        {% if icons[type] is defined %}
          <span class="civic-alert__icon">
            {% include "@atoms/icon/icon.twig" with {
              symbol: icons[type],
              modifier_class: "%s civic-icon--%s"|format(theme_class, type)
            } only %}
          </span>
        {% endif %}
        {{ title }}
      </div>
      <div class="civic-alert__summary col-xs-12 col-m-9">
        {{ description }}
        {% include "@atoms/button/button.twig" with {
          type: 'button',
          theme: theme,
          modifier_class: 'civic-alert__dismiss-button',
          text: '',
          icon: 'userinterface_cancel',
          attributes: 'id=dismiss-alert-'~id~' data-alert-dismiss'
        } %}
      </div>
    </div>
  </div>
</div>
