{#
/**
 * @file
 * Civic theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{% include '@organisms/listing/listing.twig' %}

{% block title %}
  <div class="civic-listing__title">
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}
  </div>
{% endblock %}

{% block header %}
  {% if header %}
    <header class="civic-listing__header" tabindex="0">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {{ header }}
          </div>
        </div>
      </div>
    </header>
  {% endif %}
  {{ attachment_before }}
{% endblock %}

{% block footer %}
  {{ attachment_after }}
  {{ more }}
  {% if footer %}
    <footer class="civic-listing__footer">
      {{ footer }}
    </footer>
  {% endif %}
  {{ feed_icons }}
{% endblock %}
