{#
/**
 * @file
 * Icon Link component.
 *
 * Variables:
 * - symbol: [string] Replaces link text with icon.
 * - text: [string] Link text or title attribute.
 * - size: [string] Icon size.
 * - modifier_class: [string] Classes to modify the default component styling.
 * - new_window: [boolean] Open in a new window.
 * - url: [string] URL for the link button.
 */
#}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set size_class = size ? 'civic-icon-link--size-%s'|format(size) : '' %}
{% set with_border_class = with_border ? 'civic-icon-link--with-border':'' %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, size_class, with_border_class, modifier_class|default('')) %}

{% if url %}
  <a class="civic-icon-link {{ modifier_class }}" href="{{ url }}" {{ new_window ? 'target="_blank"' }} {% if text %} title="{{ text }}" {% endif %}>
    <span class="visually-hidden">{{ text }}</span>
    {% include '@atoms/icon/icon.twig' with {
      symbol: symbol,
      size: size
    }  only %}
  </a>
{% endif %}
