{#
/**
 * @file
 * Accordion component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title.
 * - panels: [array] Array of panels:
 *   - title: [string] Panel title.
 *   - content: [string] Panel content.
 *   - id: [string] Panel id.
 *   - is_selected: [bolean] Panel is selected or not
 * - links: [array] Optional array of links (if not provided - will be generated
     from panel):
 *   - text: [string] Link text.
 *   - url: [string] Link URL.
 *   - modifier_class: [string] Additional link classes.
 *   - attributes: [string] Additional link attributes.
 * - modifier_class: [string] Additional classes.
 * - attributes: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{# Create links from panels if not provided. #}
{% if links is empty and panels is not empty %}
  {% set links = [] %}
  {% for k, panel in panels %}
    {% set link_id = panel.id ~ '-tab' %}
    {% set links = links|merge([{
      text: panel.title,
      url: '#' ~ link_id,
      attributes: 'role="tab" id="' ~ link_id ~ '" aria-controls="' ~ panel[k].id ~ '"'
    }]) %}
  {% endfor %}
{% endif %}

{% if panels is not empty or links is not empty %}
  <div class="civictheme-tabs {{ modifier_class }}" {{ attributes }}>
    {% include '@molecules/link-list/link-list.twig' with {
      theme: theme,
      links: links,
      is_inline: true,
      modifier_class: 'civictheme-tabs__links',
    } only %}

    {% if panels is not empty %}
      <div class="civictheme-tabs__panels">
        {% for k, panel in panels %}
          {% if panel.content is not empty %}
            <div class="civictheme-tabs__panels__panel {{ panel.is_selected ? 'selected' : '' }}" id="{{ panel.id }}" role="tabpanel" aria-labelledby="{{ links[k].link_id }}">
              {{ panel.content }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
