{#
/**
 * @file
 * Fieldset component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - content_top: [string] Content slot.
 * - content: [string]  Content slot.
 * - content_bottom: [string] Content slot.
 * - sidebar: [string] Sidebar slot.
 * - sidebar_attributes: [string] Sidebar attributes.
 * - content_attributes: [string] Content attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set form_element_type_class = 'civic-form-element--%s'|format(type|default('default')) %}
{% set form_element_name_class = name is not empty ? 'civic-form-element--%s'|format(name) : '' %}
{% set required_class = required ? 'civic-form-element--form-required' : '' %}
{% set label_required_class = required ? 'civic-label--required': '' %}
{% set error_class = errors ? 'civic-form-element--error' : '' %}
{% set modifier_class = '%s %s %s %s %s %s'|format(theme_class, form_element_type_class, form_element_name_class, required_class, error_class, modifier_class|default('')) %}

<fieldset class="civic-fieldset civic-form-element {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
  {% if legend is not empty %}
    <legend class="civic-label {{ legend_modifier_class }} {{ label_required_class }}" {{ legend.attributes }}>
      <span{{ legend_span_attributes }}>{{ legend }}</span>
    </legend>
  {% endif %}

  <div class="civic-fieldset__wrapper">
    {% if description is not empty %}
      <div class="description {{ description_modifier_class }}" {{ description_attributes }}>{{ description }}</div>
    {% endif %}

    {% if errors %}
      {% include '@organisms/message/message.twig' with {
        theme: theme,
        type: 'error',
        title: errors
      } only %}
    {% endif %}

    {% if prefix is not empty %}
      <span class="civic-fieldset__prefix">{{ prefix }}</span>
    {% endif %}

    {% block children %}
      {% if children is not empty %}
        {{ children }}
      {% endif %}
    {% endblock %}

    {% if suffix is not empty %}
      <span class="civic-fieldset__suffix">{{ suffix }}</span>
    {% endif %}
  </div>
</fieldset>
