{#
/**
 * @file
 * Theme implementation to display a styleguide item.
 */
#}
<a name="{{ key }}"></a>
<h2 class="styleguide">{{ item.title }}</h2>
{% if item.description %}
    <p class="styleguide-description">
        {{ item.description }}
    </p>
{% endif %}
<hr/>
<div class="styleguide">
    {{ item.before_content }}
    {{ content }}
    {{ item.after_content }}
</div>
<hr/>
