{#
/**
 * @file
 * Event Card component.
 *
 * Variables:
 * - content_top: [string] Content slot.
 * - image_over: [string] Content slot for image over.
 * - content_middle: [string] Content slot.
 * - content_bottom: [string] Content slot for bottom of Card.
 * - image: [object] Image object:
 *   - url: [string] Image URL.
 *   - alt: [string] Image alt text.
 * - title: [string] Title.
 * - summary: [string] Summary.
 * - date: [string] Start date and time.
 * - date_iso: [string] Start date and time in ISO format.
 * - date_end: [string] Optional end date and time.
 * - date_end_iso: [string] Optional end date and time in ISO format.
 * - location: [string] Location.
 * - url: [string] Optional URL.
 * - tags: [array] Array of tags.
 * - theme: [string] Theme: light, dark.
 * - attributes: [string] Additional attributes.
 * - modifier_class:[string] Additional classes.
 */
#}

{% set with_image = image.url is not empty %}
{% set with_image_class = with_image ? 'ct-event-card--with-image' : '' %}
{% set with_link = link is not empty and link.url is defined and link.url is not empty %}
{% set image_over_class = image_over ? 'ct-event-card--image-over' : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, with_image_class, image_over_class, modifier_class|default('')) %}

<div class="ct-event-card {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
  {% block image %}
    {% if image.url is not empty or image_over is not empty %}
      <div class="ct-event-card__image">
        {% include '@atoms/image/image.twig' with {
          theme: theme,
          url: image.url,
          alt: image.alt,
        } only %}

        {% block image_over %}
          {% if image_over is not empty %}
            <div class="ct-event-card__image__over">
              {{ image_over }}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endif %}
  {% endblock %}

  {% block content %}
    <div class="ct-event-card__content">
      {% block content_top %}
        {% if content_top is not empty %}
          <div class="ct-event-card__content-top">
            {{ content_top }}
          </div>
        {% endif %}
      {% endblock %}

      {% block date %}
        {% if date is not empty %}
          {% set date_content %}
            {% include '@base/time/time.twig' with {
              start: date,
              start_iso: date_iso ?? null,
              end: date_end ?? null,
              end_iso: date_end_iso ?? null,
            } only %}
          {% endset %}

          <div class="ct-event-card__date">
            {% include '@atoms/tag/tag.twig' with {
              theme: theme,
              type: 'secondary',
              content: date_content,
              icon: 'calendar-2',
              icon_placement: 'before',
            } only %}
          </div>
        {% endif %}
      {% endblock %}

      {% block title %}
        {% if title is not empty %}
          {% set title_content %}
            {% if with_link %}
              {% include '@atoms/link/link.twig' with {
                theme: theme,
                text: title,
                url: url,
                modifier_class: 'ct-event-card__title__link',
              } only %}
            {% else %}
              {{ title }}
            {% endif %}
          {% endset %}

          {% include '@atoms/heading/heading.twig' with {
            content: title_content,
            level: 4,
            theme: theme,
            modifier_class: 'ct-event-card__title',
          } only %}
        {% endif %}
      {% endblock %}

      {% block content_middle %}
        {% if content_middle is not empty %}
          <div class="ct-event-card__middle">
            {{ content_middle }}
          </div>
        {% endif %}
      {% endblock %}

      {% block location %}
        {% if location %}
          {% include '@atoms/paragraph/paragraph.twig' with {
            theme: theme,
            content: location,
            allow_html: true,
            modifier_class: 'ct-event-card__location',
          } only %}
        {% endif %}
      {% endblock %}

      {% block summary %}
        {% if summary is not empty %}
          {% include '@atoms/paragraph/paragraph.twig' with {
            theme: theme,
            content: summary,
            allow_html: true,
            modifier_class: 'ct-event-card__summary',
          } only %}
        {% endif %}
      {% endblock %}

      {% block content_tags %}
        {% if tags or with_link %}
          <div class="ct-event-card__tags">
            {% if tags %}
              {% include '@molecules/tag-list/tag-list.twig' with {
                theme: theme,
                tags: tags,
              } only %}
            {% endif %}

            {% if with_link %}
              {% include '@atoms/link/link.twig' with {
                theme: theme,
                url: link.url,
                is_new_window: link.is_new_window,
                is_external: false,
                icon: 'right-arrow-2',
                modifier_class: 'ct-event-card__tags__link',
              } only %}
            {% endif %}
          </div>
        {% endif %}
      {% endblock %}

      {% block content_bottom %}
        {% if content_bottom is not empty %}
          <div class="ct-event-card__content-bottom">
            {{ content_bottom }}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
</div>
