{#
/**
 * @file
 * Event Card component.
 *
 * Variables:
 * - theme: [string] Theme for large filter.
 * - image: [object] Consist details of the card image like src, alt text.
 * - content_top: [string] Content slot.
 * - content_middle: [string] Content slot.
 * - content_bottom: [string] Content slot.
 * - date: [string] Formatted date.
 * - title: [string] Title.
 * - summary: [string] Summary.
 * - tag: [string] Tag.
 * - tags: [array] Array of tags.
 * - url: [string] Optional linl.
 * - is_external: [boolean] Link is external or not.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set no_image_class = image is empty ? 'ct-event-card--no-image' : '' %}
{% set modifier_class = '%s %s %s'|format(theme_class, no_image_class, modifier_class|default('')) %}

<div class="ct-event-card {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
  {% block image %}
    {% if image.src is not empty %}
      <div class="ct-event-card__image-wrapper">
        {% include '@atoms/image/image.twig' with {
          src: image.src,
          alt:  image.alt,
        } %}
        {% if image_over %}
          <div class="ct-event-card__image-over">
            {{ image_over }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}

  <div class="ct-event-card__content">
    {% block content_top %}
      {% if content_top %}
        <div class="ct-event-card__content-top">
          {{ content_top }}
        </div>
      {% endif %}
    {% endblock %}

    {% block date %}
      {% if date %}
        {% include '@atoms/tag/tag.twig' with {
          theme: theme,
          type: 'secondary',
          content: date,
          icon: 'calendar-2',
          icon_placement: 'before',
          modifier_class: 'ct-event-card__date'
        } only %}
      {% endif %}
    {% endblock %}

    {% block title %}
      {% if title %}
        <div class="ct-event-card__title">
          {% if url %}
            {% include '@atoms/link/link.twig' with {
              theme: theme,
              text: title,
              url: url,
              is_new_window: is_external,
            } only %}
          {% else %}
            {{ title }}
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}

    {% block content_middle %}
      {% if content_middle %}
        <div class="ct-event-card__content-middle">
          {{ content_middle }}
        </div>
      {% endif %}
    {% endblock %}

    {% block location %}
      {% if location %}
        <div class="ct-event-card__location">
          {{ location }}
        </div>
      {% endif %}
    {% endblock %}

    {% block summary %}
      {% if summary %}
        <div class="ct-event-card__summary">
          {{ summary }}
        </div>
      {% endif %}
    {% endblock %}

    {% block tags %}
      {% if tags or url %}
        <div class="ct-event-card__bottom-wrapper">
          {% if tags is not empty %}
            <div class="ct-event-card__tags">
              {% for tag in tags %}
                {% include '@atoms/tag/tag.twig' with {
                  theme: theme,
                  content: tag,
                } only %}
              {% endfor %}
            </div>
          {% endif %}
          {% if url %}
            {% if is_external %}
              {% include '@base/icon/icon.twig' with {
                symbol: 'upper-right-arrow',
                color: 'primary',
                modifier_class: 'ct-navigation-card__icon--external'
              } only %}
            {% else %}
              {% include '@base/icon/icon.twig' with {
                symbol: 'upper-right-arrow',
                color: 'primary',
                modifier_class: 'ct-navigation-card__icon--arrow',
              } only %}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}

    {% block content_bottom %}
      {% if content_bottom %}
        <div class="ct-event-card__content-bottom">
          {{ content_bottom }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
</div>
