{#
/**
 * @file Event card component.
 *
 * Available variables:
 * - content_top: [boolean] show/hide content top section.
 * - content_top_label: [string] content top label.
 * - date: [string] formatted date.
 * - with_image: show card with or without image.
 * - image: [object] Consist details of the card image like src, alt text.
 * - modifier_class: [string] Classes to modify the default component styling.
 * - summary: [string] Summary of the card.
 * - place_n_time: [string] Place and time details fo the event.
 * - tag: [string] Event topic/industry tag.
 * - title: [string] The text of card title.
 * - theme: [string] card theme: light, dark.
 * - type: [string] Card type: large, small, icon.
 * - url: [string] Card link.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set type_class = image is empty ? 'civic-event-card--no-image' : '' %}
{% set modifier_class = '%s %s %s'|format(theme_class, type_class, modifier_class|default('')) %}

<div class="civic-event-card {{ modifier_class }}">
  {% if image.src is not empty %}
    <div class="civic-event-card__image-wrapper">
      <img src="{{ image.src }}" {% if image.alt is not empty %} alt="{{ image.alt }} {% endif %}">
      {% if image_over %}
        <div class="civic-event-card__image-over">
          {{ image_over }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="civic-event-card__content">
    {% if content_top %}
      <div class="civic-event-card__content-top">
        {{ content_top }}
      </div>
    {% endif %}

    {% if date %}
      {% include '@atoms/tag/tag.twig' with {
        theme: theme,
        text: date,
        icon: 'business_calendar',
        icon_placement: 'before',
        modifier_class: 'civic-event-card__date'
      } only %}
    {% endif %}

    {% if title %}
      <div class="civic-event-card__title">
        {% if url %}
        <a class="civic-event-card__title-link" href="{{ url }}">
          {% endif %}
          {{ title }}
          {% if url %}
        </a>
        {% endif %}
      </div>
    {% endif %}

    {% if content_middle %}
      <div class="civic-event-card__content-middle">
        {{ content_middle }}
      </div>
    {% endif %}

    {% if location %}
      <div class="civic-event-card__location">
        {{ location }}
      </div>
    {% endif %}

    {% if summary %}
      <div class="civic-event-card__summary">
        {{ summary }}
      </div>
    {% endif %}

    {% if tags or url %}
      <div class="civic-event-card__bottom-wrapper">
        {% if tags %}
          <div class="civic-event-card__tags">
            {% for tag in tags %}
              {% include '@atoms/tag/tag.twig' with {
                theme: theme,
                text: tag,
                is_alt: true,
              } only %}
            {% endfor %}
          </div>
        {% endif %}
        {% if url %}
          {% include '@atoms/icon/icon.twig' with {
            symbol: 'arrows_rightarrow_3',
            color: 'primary',
            modifier_class: 'civic-event-card__icon--arrow',
          } only %}
        {% endif %}
      </div>
    {% endif %}

    {% if content_bottom %}
      <div class="civic-event-card__content-bottom">
        {{ content_bottom }}
      </div>
    {% endif %}
  </div>
</div>
