{#
/**
 * @file
 * Tag component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - type: [string] Type: primary, secondary, tertiary
 * - content: [string] Content.
 * - icon: [string] Icon name.
 * - icon_placement: [string] Icon position: before, after.
 * - url: [string] Optional URL to convert to a link.
 * - is_new_window: [boolean] Open in a new window. Only if url is provided.
 * - is_external [boolean] Link is external.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set type = type in ['primary', 'secondary', 'tertiary'] ? type : 'primary' %}
{% set type_class = 'ct-tag--%s'|format(type) %}
{% set icon_class = icon is not empty ? 'ct-tag--with-icon' : '' %}
{% set icon_placement_class = icon ? 'ct-tag--icon-%s'|format(icon_placement|default('before')) : '' %}
{% set icon_size = icon_size in ['extra-large', 'large', 'regular', 'small', 'extra-small'] ? icon_size : 'small' %}
{% set is_external = is_external ? 'ct-tag--external ct-icon--upper-right-arrow--after--' ~ icon_size : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s %s %s %s'|format(theme_class, type_class, icon_class, icon_placement_class, is_external, modifier_class|default('')) %}

{% set tag = url is not empty ? 'a' : 'span' %}

{% set icon %}
  {% if icon %}
    {% include '@base/icon/icon.twig' with {
      symbol: icon,
      size: 'small',
    } only %}
  {% endif %}
{% endset %}

{% set text %}
  {{ icon_placement == 'before' ? icon : '' }}{{ content }}{{ icon_placement == 'after' ? icon : '' }}
{% endset %}

{% if is_new_window %}
  {% set text %}
    {{ text }}<span class="ct-visually-hidden">Opens in a new tab/window</span>
  {% endset %}
{% endif %}

{% if text|trim is not empty %}
  <{{ tag }}
    class="ct-tag {{ modifier_class }}"
    {% if url is not empty %}
      href="{{ url }}"
    {% endif%}

    {% if is_new_window %}
      target="_blank"
    {% endif%}

    {% if content is not empty %}
      title="{{ content }}"
      aria-label="{{ content }}"
    {% endif%}

    {% if attributes is not empty %}
      {{ attributes|raw }}
    {% endif %}
  >{{ text }}</{{ tag }}>
{% endif %}
