<footer class="civic-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-m-4">
        {% block logo %}
          {% if logo.src is not empty %}
            <div class="civic-footer__logo">
              <img src="{{ logo.src }}" {% if logo.alt is not empty %} alt="{{ logo.alt }} {% endif %}">
            </div>
          {% endif %}
        {% endblock %}
      </div>

      {% if top_left is not empty %}
        <div class="col-m-4">
          {% block top_left %}
            <div class="civic-footer__top--left">
              {{ top_left }}
            </div>
          {% endblock %}
        </div>
      {% endif %}

      {% if top_right is not empty %}
        <div class="col-m-4">
          {% block top_right %}
            <div class="civic-footer__top--left">
              {{ top_right }}
            </div>
          {% endblock %}
        </div>
      {% endif %}
    </div>

    {% if middle is not empty %}
      <div class="row">
        {% block middle %}
          <div class="civic-footer__middle">
            {{ middle }}
          </div>
        {% endblock %}
      </div>
    {% endif %}

    {% if bottom_left or bottom_right %}
      <div class="civic-footer__bottom">
        <div class="row">
          <div class="col-m-4">
            {% block bottom_left %}
              <div class="civic-footer__bottom--left">
                {{ bottom_left }}
              </div>
            {% endblock %}
          </div>

          <div class="col-m-4">
            {% block bottom_right %}
              <div class="civic-footer__bottom--right">
                {{ bottom_right }}
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</footer>
