{#
/**
 * @file
 * Tag component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Text.
 * - is_alt: [boolean] Flag to render as "alternative" color scheme.
 * - icon: [string] Icon name.
 * - icon_placement: [string] Icon position: before, after.
 * - url: [string] Optional URL to convert to a link.
 * - is_new_window: [boolean] Open in a new window. Only if url is provided.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set alt_class = is_alt ? 'civic-tag--is-alt' : '' %}
{% set icon_class = icon is not empty ? 'civic-tag--with-icon' : '' %}
{% set icon_placement_class = icon ? 'civic-tag--icon-%s'|format(icon_placement|default('before')) : '' %}
{% set modifier_class = '%s %s %s %s %s'|format(theme_class, alt_class, icon_class, icon_placement_class, modifier_class|default('')) %}

{% set tag_icon %}
  {% if icon %}
    <span class="civic-tag__icon">
		  {% include '@atoms/icon/icon.twig' with {
        symbol: icon,
        size: 'small',
      } only %}
		</span>
  {% endif %}
{% endset %}

{% set tag_text %}
  {% if icon %}
    {% if icon_placement == 'before' %}
      {{ tag_icon }}{{ text }}
    {% elseif icon_placement == 'after' %}
      {{ text }}{{ tag_icon }}
    {% endif %}
  {% else %}
    {{ text }}
  {% endif %}
{% endset %}

{% if tag_text %}
  <div class="civic-tag {{ modifier_class }}" aria-label="{{ text }}">
    {% if url is not empty %}
      <a class="civic-tag__link" href="{{ url }}" {% if text is not empty %}title="{{ text }}" aria-label="{{ text }}"{% endif%} {{ is_new_window ? 'target="_blank"' }}>
    {% endif %}
        {{ tag_text }}
    {% if url is not empty %}
      </a>
    {% endif %}
  </div>
{% endif %}
