{#
/**
 * @file
 * attachment component.
 *
 * Display of attachment component.
 *
 * Variables:
 * - theme: [string] Theme for attachment.
 * - content_top: [string] Component slot for top of attachment.
 * - title: [string] attachment title.
 * - summary: [string] attachment summary.
 * - links: [array] Array of Link objects containing type, url, text
 * - content_bottom: [string] Component slot for bottom of attachment.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}

<div class="civic-attachment {{ theme_class }}">

  {% if image is not empty %}
    <div class="civic-attachment__image">
      <img src="{{ image.src }}" alt="{{ image.alt }}"/>
    </div>
  {% endif %}

  <div class="civic-attachment__content">
    <div class="civic-attachment__content-top">
      {{ content_top }}
    </div>

    <div class="civic-attachment__text">
      <div class="civic-attachment__title">
        {{ title }}
      </div>

      <div class="civic-attachment__summary">
        {{ summary }}
      </div>
    </div>

    {% if link is not empty %}
      <div class="civic-attachment__link">
        {% include '@atoms/link/link.twig' with {
          theme: theme,
          text: link.title,
          url: link.url,
          modifier_class: 'civic-link--attachment'
        } only %}
      </div>
    {% endif %}

    {% if links is not empty %}
      <div class="civic-attachment__links">
        <ul>
          {% for linkObj in links %}
            <li class="civic-attachment__links--link">
              <span>
                {% include '@atoms/icon/icon.twig' with {
                  symbol: 'fileandfolders_document',
                } only %}
              </span>
              <div>
                {% include '@atoms/link/link.twig' with {
                  theme: theme,
                  text: linkObj.title,
                  url: linkObj.url,
                  modifier_class: 'civic-link--attachment'
                } only %}

                {% if linkObj.last_updated is not empty %}
                  <div class="civic-attachment__links--last-updated">LAST
                    UPDATED: {{ linkObj.last_updated }}</div>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if content_bottom is not empty %}
      <div class="civic-attachment__content-bottom">
        {{ content_bottom }}
      </div>
    {% endif %}
  </div>

  {% if icon is not empty %}
    <div class="civic-attachment__icon">
      {% include '@atoms/icon/icon.twig' with {
        symbol: 'arrows_download',
      } %}
    </div>
  {% endif %}
</div>
