{#
/**
 * @file
 * Next steps component.
 *
 * Display of Next steps component.
 *
 * Variables:
 * - theme: [string] Theme for  Next steps.
 * - content_top: [string] Component slot for top of Callout.
 * - title: [string] Next steps title.
 * - summary: [string]  Next steps summary.
 * - url: [string]  Next steps card link.
 * - content_bottom: [string] Component slot for bottom of Callout.
 * - modifier_class: [string] Classes to modify the default component styling.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<a class="civic-next-steps {{ modifier_class }}" href={{ url }}>
  <div class="civic-next-steps__content-top">
    {{ content_top }}
  </div>

  <div class="civic-next-steps__text">
    <div class="civic-next-steps__title">
      {{ title }}
    </div>

    <div class="civic-next-steps__summary">
      {{ summary }}
    </div>
  </div>

  <div class="civic-next-steps__icon civic-next-steps__read-more">
    {% include '@atoms/icon/icon.twig' with {
      symbol: 'arrows_rightarrow_3',
      color: 'primary'
    } only %}
  </div>

  <div class="civic-next-steps__content-bottom">
    {{ content_bottom }}
  </div>
</a>
