{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set striped_class = striped ? 'civic-table--%s'|format('striped') : '' %}
{% set modifier_class = '%s %s %s'|format(theme_class, striped_class, modifier_class|default('')) %}

{% if rows is not empty %}
  <div class="civic-table {{ modifier_class }}">
    {% if heading %}
      <div class="civic-table__header">
        <h2>{{ heading }}</h2>
      </div>
    {% endif %}
    <table>
      {% if header is not empty %}
        <thead>
        <tr>
          {% for item in header %}
            <th scope="col">{{ item }}</th>
          {% endfor %}
        </tr>
        </thead>
      {% endif %}
      <tbody>
      {% for row in rows %}
        <tr>
          {% for item in row %}
            <td data-title="{{ header[loop.index0] }}">
              {{ item }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
      {% if caption %}
        <caption class="civic-table__caption">{{ caption }}</caption>
      {% endif %}
    </table>
  </div>
{% endif %}
