{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set striped_class = striped ? 'civic-table--%s'|format('striped') : '' %}
{% set component_class = 'civic-table' %}
{% set table_class = '%s %s %s'|format(component_class, theme_class, striped_class) %}

<div class="{{ table_class }}">
  {% if heading %}
    <div class="civic-table__header">
      <h2>{{ heading }}</h2>
    </div>
  {% endif %}
  <table>
    {% if header is not empty %}
    <thead>
      <tr>
        {% for item in header %}
          <th scope="col">{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tbody>
      {% if raws is not empty %}
        {% for raw in raws  %}
          <tr>
            {% for item in raw %}
              <td data-title="{{ header[loop.index] }}">{{ item }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% else %}
        <h2> Table is empty </h2>
      {% endif %}
    </tbody>
    <caption>{{ caption }}</caption>
  </table>
</div>
