{#
/**
 * @file
 * Button component.
 *
 * Variables:
 * - kind: [string] Button kind: submit, reset, button, link.
 * - type: [string] Button type: primary, primary-accented, secondary, secondary-accented.
 * - size: [string] Button size: large, regular, small.
 * - icon: [boolean] Button icon visibility: true, false.
 * - icon_placement: [string] Icon position: left, right
 * - icon_size: [string] Icon size: small, medium, large
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes to modify component styling.
 * - text: [string] Button text.
 * - url: [string] URL for the link button.
 * - new_window: [boolean] Open in a new window.
 * - disabled: [boolean] Disabled state.
 */
#}

{% set kind = kind in ['button', 'link', 'reset', 'submit'] ? kind : 'button' %}
{% set type = type in ['primary', 'secondary', 'tertiary'] ? type : null %}
{% set size = size in ['large', 'regular', 'small'] ? size : 'regular' %}
{% set icon_placement = icon_placement in ['before', 'after'] ? icon_placement : 'after' %}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set type_class = type ? 'civic-button--%s'|format(type) : '' %}
{% set size_class = 'civic-button--%s'|format(size) %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, type_class, size_class, modifier_class|default('')) %}

{% set button_icon %}
  {% if icon %}
    <span class="civic-button__icon">
		  {% include '@atoms/icon/icon.twig' with {
        symbol: icon,
      } only %}
		</span>
  {% endif %}
{% endset %}

{% set button_text %}
  {% if icon %}
    {% if icon_placement == 'before' %}
      {{ button_icon }}{{ text }}
    {% elseif icon_placement == 'after' %}
      {{ text }}{{ button_icon }}
    {% endif %}
  {% else %}
    {{ text }}
  {% endif %}
{% endset %}

{% if kind == 'button' %}
  <button class="civic-button {{ modifier_class }}" {% if attributes %}{{ attributes }}{% endif %} data-component-name="button" {% if disabled %}disabled="disabled" aria-disabled="true"{% endif %}>{{ button_text }}</button>
{% elseif kind == 'link' %}
  <a class="civic-button {{ modifier_class }}" {% if attributes %}{{ attributes }}{% endif %} role="button" data-component-name="button" {% if url %}href="{{ url }}"{% endif %} title="{{ text }}"  {{ new_window ? 'target="_blank"' }} {% if disabled %}disabled="disabled" aria-disabled="true"{% endif %}>{{ button_text }}</a>
{% elseif kind == 'reset' or kind == 'submit' %}
  <input class="civic-button {{ modifier_class }}" {% if attributes %}{{ attributes }}{% endif %} type="{{ kind }}" data-component-name="button" {% if disabled %}disabled="disabled" aria-disabled="true"{% endif %} value="{{ button_text|trim }}"/>
{% endif %}
