{#
/**
 * @file
 * Messages component.
 *
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 *
 * Variables:
 * - type: [string] Message type: Info, Error, Warning, Success.
 * - theme: [string] Light, Dark.
 * - title: [string] Message title.
 * - description: [string] Message summary.
 *
 */
#}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set component_class = 'civic-messages' %}
{% set type_class = 'civic-messages--%s'|format(type|default('info')) %}
{% set messages_class = '%s %s %s'|format(component_class, theme_class, type_class) %}
{% set messages_icon = {
  status: 'userinterface_informationmark',
  info: 'userinterface_informationmark',
  warning: 'userinterface_exclamationmark_1',
  error: 'userinterface_close_2',
  success: 'userinterface_approve',
} %}

<div class='{{ messages_class }}' data-component-name='messages'>
  <div class='{{ component_class }}__icon'>
    {% if messages_icon[type] is defined %}
      {% include '@atoms/icon/icon.twig' with {
        symbol: messages_icon[type],
        modifier_class: '%s civic-icon--%s'|format(theme_class, type)
      } only %}
    {% endif %}
  </div>
  <div class='{{ component_class }}__contnet'>
    <div class='{{ component_class }}__title'>{{ title }}</div>
    <div class='{{ component_class }}__summary'>{{ description }}</div>
  </div>
</div>
