{#
/**
  * @file publication card component.
  *
  * Available variables:
  * - theme: [string] card theme: light, dark.
  * - size: [string] Card type: large, small.
  * - image: [object] Consist details of the card image like src, width, height, alt text.
  * - image_over: [string] Component slot for image_over of Card.
  * - icon: [string] Icon name.
  * - content_top: [string] Component slot for top  of Card.
  * - title: [string] The text of card title.
  * - content_middle: [string] Component slot for middle of Card.
  * - summary: [string] Summary of the card.
  * - image: [string] Card type: large, small.
  * - url: [string] Card link.
  * - link: Link object containing url, text of the file.
  * - content_bottom: [string] Component slot for bottom of Card.
  * - modifier_class: [string] Classes to modify the default component styling.
  */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set size = size|default('large') %}
{% set size_class = size == 'large'?'civic-publication-card--large' : 'civic-publication-card--small' %}
{% set modifier_class = '%s %s %s'|format(theme_class, size_class, modifier_class|default('')) %}

<div class="civic-publication-card {{ modifier_class }}">
  {% if image.src is not empty %}
    <div class="civic-publication-card__image-wrapper">
      <img src="{{ image.src }}" {% if image.alt is not empty %} alt="{{ image.alt }} {% endif %}">
      {% if image_over %}
        <div class="civic-publication-card__image-over">
          {{ image_over }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="civic-publication-card__content">
    {% if content_top %}
      <div class="civic-publication-card__content-top">
        {{ content_top }}
      </div>
    {% endif %}

    {% if icon %}
      <div class="civic-publication-card__icon">
        {% include '@atoms/icon/icon.twig' with {
          symbol: icon,
          size: 'large',
          color: 'primary',
        } only %}
      </div>
    {% endif %}

    {% if title %}
      <div class="civic-publication-card__title">
        {% if url %}
        <a class="civic-publication-card__title-link" href="{{ url }}">
          {% endif %}
          {{ title }}
          {% if link %}
          <span>
            {% include '@atoms/icon/icon.twig' with {
              symbol: 'arrows_download',
              color: 'primary',
              modifier_class: 'civic-publication-card__icon--download',
            } only %}
          </span>
        </a>
        {% endif %}
      </div>
    {% endif %}

    {% if content_middle %}
      <div class="civic-publication-card__content-middle">
        {{ content_middle }}
      </div>
    {% endif %}

    {% if summary %}
      <div class="civic-publication-card__summary">
        {{ summary }}
      </div>
    {% endif %}

    {% if link %}
      <div class="civic-publication-card__attachment-link">
        {% include '@atoms/link/link.twig' with {
          theme: theme,
          text: link.text,
          url: link.url,
          modifier_class: 'civic-link--attachment'
        } only %}
      </div>
    {% endif %}

    {% if content_bottom %}
      <div class="civic-publication-card__content-bottom">
        {{ content_bottom }}
      </div>
    {% endif %}
  </div>
</div>
