{#
/**
 * @file
 * Accordion component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title.
 * - expand_all: [boolean] Expand all panels or not.
 * - panels: [array] Array of panels:
 *   - title: [string] Panel title
 *   - expanded: [boolean] Panel is expanded or not.
 *   - content: [string] Panel content.
 * - vertical_space: [string] With top, bottom or both vertical spaces.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set vertical_space_class = vertical_space in ['top', 'bottom', 'both'] ? 'civictheme-accordion--vertical-space-%s'|format(vertical_space) : '' %}
{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s'|format(theme_class, vertical_space_class, modifier_class|default('')) %}

{% if panels is not empty %}
  <div class="civictheme-accordion {{ modifier_class }}">
    <div class="container">
      <div class="row">
        {% if title is not empty %}
          <div class="civictheme-accordion__content-top col-xs-12">
            <div class="civictheme-accordion__title-top">
              {{ title }}
            </div>
          </div>
        {% endif %}

        <div class="civictheme-accordion__inner col-xs-12">
          <ul class="civictheme-accordion__list" data-multiselectable="true">
            {% for fold in panels %}
              {% if fold.title is not empty or fold.content is not empty %}
                {% set is_expanded = (fold.expanded == true) or (expand_all == true) %}
                <li class="civictheme-accordion__list-item">
                  <div class="civictheme-accordion__header">
                    {% set is_open = is_expanded ? 'is-selected' : '' %}
                    <button class="civictheme-accordion__header__button {{ is_open }}">
                      {% if fold.title is not empty %}
                        <span>{{ fold.title }}</span>
                      {% endif %}
                      {% include '@atoms/icon/icon.twig' with {
                        symbol: 'arrows_downarrow_1'
                      } only %}
                    </button>
                  </div>

                  {% if fold.content is not empty %}
                    {% set is_open = is_expanded ? 'civictheme-accordion__content--expanded' : '' %}
                    <div class="civictheme-accordion__content {{ is_open }}">
                      <div class="civictheme-accordion__content--inner">
                        {{ fold.content|raw }}
                      </div>
                    </div>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}
