{#
/**
 * @file
 * Footer component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - type: [string] Type.
 * - name: [string] Name.
 * - label_display: [string] Display label: before, after.
 * - description_display: [string] Display description: before, after.
 * - disabled: [boolean] Disabled or not.
 * - errors: [array] Optional array of errors.
 * - description_modifier_class: [string] Additional classes for description.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set type_class =  type is not empty ? 'civictheme-form-element--%s'|format(type) : '' %}
{% set name_class = name is not empty ?  'civictheme-form-element--%s'|format(name) : '' %}
{% set label_class = label_display not in ['after', 'before'] ? 'civictheme-form-element--no-label' : 'civictheme-form-element--label--%s'|format(title_display) %}
{% set description_class = description_display not in ['after', 'before'] ? 'civictheme-form-element--no-description' : 'civictheme-form-element--label--%s'|format(description_display) %}
{% set disabled_class =  disabled == 'disabled' ? 'civictheme-form-element--form-disabled' : '' %}
{% set error_class =  errors is not empty ? 'civictheme-form-element--error' : '' %}
{% set modifier_class = '%s %s %s %s %s %s %s %s'|format(theme_class, type_class, name_class, label_class, description_class, disabled_class, error_class, modifier_class|default('')) %}

{% set description_modifier_class = '%s %s'|format(description_visibility_class|default(''), description_display_class|default('')) %}

<div class="civictheme-form-element {{ modifier_class }}" {% if attributes %}{{ attributes|raw }}{% endif %}>
  {% if label is not empty and label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {% if prefix is not empty %}
    <span class="field-prefix">{{ prefix }}</span>
  {% endif %}

  {% if  description.content is not empty and description_display == 'before' %}
    <div class="civictheme-form-element__description {{ description_modifier_class }}" {% if description.attributes is not empty %}{{ description.attributes }}{% endif %}>
      {{ description.content }}
    </div>
  {% endif %}

  {% if children is not empty %}
    {{ children }}
  {% endif %}

  {% if suffix is not empty %}
    <span class="field-suffix">{{ suffix }}</span>
  {% endif %}

  {% if label is not empty and label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if description.content is not empty and description_display in ['after', 'invisible'] %}
    <div class="civictheme-form-element__description {{ description_modifier_class }}" {{ description.attributes }}>
      {{ description.content }}
    </div>
  {% endif %}

  {% if errors %}
    {% include '@organisms/message/message.twig' with {
      theme: theme,
      type: 'error',
      title: errors
    } only %}
  {% endif %}
</div>
