{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set decorative_class = decorative ? 'civic-banner--decorative': '' %}
{% set modifier_class = '%s %s %s'|format(theme_class,decorative_class, modifier_class|default('')) %}

{% if block('content_top1') is defined or block('breadcrumbs') is defined or block('content_top2') is defined or block('content_top3') is defined or block('content_middle') is defined or block('content') is defined or block('title') is defined or block('content_bottom') is defined %}
  <div class="civic-banner {{ modifier_class }}">
    <div class="civic-banner__wrapper">
      <div class="civic-banner__wrapper__inner" {% if background_image %}style="background-image: url('{{ background_image }} ')"{% endif %}>
        <div class="container">

          {% if block('content_top1') is defined %}
            <div class="row">
              <div class="col-xs-12">
                <div class="civic-banner__content-top">
                  {%- block content_top1 %}
                    {{- content_top1 -}}
                  {% endblock -%}
                </div>
              </div>
            </div>
          {% endif %}

          {% if block('content_top2') is defined or block('breadcrumbs') is defined %}
            <div class="row">

              {% if block('breadcrumbs') is defined %}
                <div class="col-xs-12 col-m-6">
                  <div class="civic-banner__breadcrumbs">
                    {%- block breadcrumbs %}
                      {{- breadcrumbs -}}
                    {% endblock -%}
                  </div>
                </div>
              {% endif %}

              {% if block('content_top2') is defined %}
                <div class="col-xs-12 col-m-6">
                  <div class="civic-banner__content-top2">
                    {%- block content_top2 %}
                      {{- content_top2 -}}
                    {% endblock -%}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if block('content_top3') is defined %}
            <div class="row">
              <div class="col-xs-12">
                <div class="civic-banner__content-top3">
                  {%- block content_top3 %}
                    {{- content_top3 -}}
                  {% endblock -%}
                </div>
              </div>
            </div>
          {% endif %}

          {% if title is not empty %}
            <div class="row">
              <div class="{{ featured_image is not empty ? 'col-xs-12 col-m-6':'col-xs-12 col-m-8' }}">
                <div class="civic-banner__title">
                  {% include '@atoms/heading/heading.twig' with {
                    title: title,
                    level: 1,
                  } only %}
                </div>
              </div>
            </div>
          {% endif %}

          {% if block('content_middle') is defined %}
            <div class="row">
              <div class="{{ featured_image is not empty ? 'col-xs-12 col-m-6':'col-xs-12 col-m-8' }}">
                <div class="civic-banner__content-middle">
                  {%- block content_middle %}
                    {{- content_middle -}}
                  {% endblock -%}
                </div>
              </div>
            </div>
          {% endif %}

          {% if block('content') is defined %}
            <div class="row">
              <div class="{{ featured_image is not empty ? 'col-xs-12 col-m-6':'col-xs-12 col-m-8' }}">
                <div class="civic-banner__content">
                  {%- block content %}
                    {{- content -}}
                  {% endblock -%}
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>

      {% if featured_image is not empty %}
        <div class="civic-banner__featured-image">
          <img src="{{ featured_image.src }}" alt="{{ featured_image.alt }}"/>
        </div>
      {% endif %}
    </div>

    {% if block('content_below') is defined %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="civic-banner__content-below">
              {%- block content_below %}
                {{- content_below -}}
              {% endblock -%}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if block('content_bottom') is defined %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="civic-banner__content-bottom">
              {%- block content_bottom %}
                {{- content_bottom -}}
              {% endblock -%}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
