{% set bgImage = backgroundImage ? 'style="background-image: url(' ~ backgroundImage ~ ')"' : null %}

{% set classes = ['civic-banner'] %}
{% set classes = decorative ? classes|merge(['civic-banner--decorative']) : classes %}
{% set classes = modifier_class ? classes|merge([modifier_class]) : classes %}
{% set theme_class = 'civic-banner--%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}

<div class="{{ classes|join(' ') }}" {{ bgImage }}>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-m-10 col-m-offset-1">
        <div class="civic-banner__region">
          {%- block content_top %}
            {{- content_top -}}
          {% endblock -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-m-5 col-m-offset-1">
        <div class="civic-banner__region">
          {%- block breadcrumbs %}
            {{- breadcrumbs -}}
          {% endblock -%}
        </div>
      </div>
      <div class="col-xs-12 col-m-5">
        <div class="civic-banner__region">
          {%- block content_top2 %}
            {{- content_top2 -}}
          {% endblock -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-m-10 col-m-offset-1">
        <div class="civic-banner__region">
          {%- block content_top3 %}
            {{- content_top3 -}}
          {% endblock -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-m-10 col-m-offset-1">
        <div class="civic-banner__region">
          {%- block content_title %}
            {{- content_title -}}
          {% endblock -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-m-10 col-m-offset-1">
        <div class="civic-banner__region">
          {%- block content_middle %}
            {{- content_middle -}}
          {% endblock -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-m-10 col-m-offset-1">
        <div class="civic-banner__region">
          {%- block content %}
            {{- content -}}
          {% endblock -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-m-10 col-m-offset-1">
        <div class="civic-banner__region">
          {%- block below_content %}
            {{- below_content -}}
          {% endblock -%}
        </div>
      </div>
    </div>
  </div>
</div>
