{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set decorative_class = decorative ? 'civic-banner--decorative': '' %}
{% set modifier_class = '%s %s %s'|format(theme_class,decorative_class, modifier_class|default('')) %}

{% if content_top1 is not empty or content_top2 is not empty or content_top3 is not empty or title is not empty or content_middle is not empty or content is not empty or content_below is not empty or content_bottom is not empty %}
  <div class="civic-banner {{ modifier_class }}">
    <div class="civic-banner__wrapper">
      <div class="civic-banner__wrapper__inner" {% if background_image %}style="background-image: url('{{ background_image }} ')"{% endif %}>
        <div class="container">

          {% if content_top1 %}
            <div class="row">
              {%- block content_top1 %}
                <div class="col-xs-12">
                  <div class="civic-banner__content-top">
                    {{- content_top1 -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if breadcrumb or content_top2 %}
            <div class="row">
              {%- block breadcrumb %}
                <div class="col-xs-12 col-m-6">
                  <div class="civic-banner__breadcrumb">
                    {{- breadcrumb -}}
                  </div>
                </div>
              {% endblock -%}

              {%- block content_top2 %}
                <div class="col-xs-12 col-m-6">
                  <div class="civic-banner__content-top2">
                    {{- content_top2 -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if content_top3 %}
            <div class="row">
              {%- block content_top3 %}
                <div class="col-xs-12">
                  <div class="civic-banner__content-top3">
                    {{- content_top3 -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if title is not empty %}
            <div class="row">
              {%- block title %}
                <div class="{{ featured_image is not empty ? 'col-xs-12 col-m-6':'col-xs-12 col-m-8' }}">
                  <div class="civic-banner__title">
                    {% include '@atoms/heading/heading.twig' with {
                      title: title,
                      level: 1,
                    } only %}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if content_middle %}
            <div class="row">
              {%- block content_middle %}
                <div class="{{ featured_image is not empty ? 'col-xs-12 col-m-6':'col-xs-12 col-m-8' }}">
                  <div class="civic-banner__content-middle">
                    {{- content_middle -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if content %}
            <div class="row">
              {%- block content %}
                <div class="{{ featured_image is not empty ? 'col-xs-12 col-m-6':'col-xs-12 col-m-8' }}">
                  <div class="civic-banner__content">
                    {{- content -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

        </div>
      </div>

      {% block featured_image %}
        {% if featured_image is not empty %}
          <div class="civic-banner__featured-image">
            <img src="{{ featured_image.src }}" alt="{{ featured_image.alt }}"/>
          </div>
        {% endif %}
      {% endblock %}
    </div>

    {% if content_below %}
      <div class="container">
        <div class="row">
          {%- block content_below %}
            <div class="col-xs-12">
              <div class="civic-banner__content-below">
                {{- content_below -}}
              </div>
            </div>
          {% endblock -%}
        </div>
      </div>
    {% endif %}

    {% if content_bottom %}
      <div class="container">
        <div class="row">
          {%- block content_bottom %}
            <div class="col-xs-12">
              <div class="civic-banner__content-bottom">
                {{- content_bottom -}}
              </div>
            </div>
          {% endblock -%}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
