{#
/**
 * @file
 * Filter Chip component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Text.
 * - is_multiple: [boolean] Render as radio or checkbox.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}
{% set type = is_multiple ? 'checkbox' : 'radio' %}

{% if id is not empty or name is not empty %}
  <label class="civic-filter-chip {{ modifier_class }}" data-component-name="filter-chip" {% if id is not empty %}for="{{ id }}"{% endif%}>
    <input class="civic-filter-chip__field" type="{{ type }}" {% if id is not empty %}id="{{ id }}"{% endif%} {% if name is not empty %}name="{{ name }}"{% endif%} {% if attributes is not empty %}{{ attributes }}{% endif %} />
    <span class="civic-filter-chip__text">{{ text }}</span>
  </label>
{% endif %}
