{#
/**
 * @file
 * Directional Link component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - url: [string] URL for the link button.
 * - text: [string] Link text.
 * - aria_text: [string] Optional ARIA text for link.
 * - title: [string] Link title.
 * - direction: [string] Direction: top, bottom, left, right.
 * - disabled: [boolean] Disabled or not.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set text = text|default('Top') %}
{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set disabled_class = disabled ? 'civictheme-directional-link--disabled': '' %}
{% set modifier_class = '%s %s %s'|format(theme_class, disabled_class, modifier_class|default('')) %}

{% set icons = {
  top: 'arrows_uparrow_1',
  bottom: 'arrows_downarrow_2',
  left: 'arrows_leftarrow_2',
  right: 'arrows_rightarrow_3',
} %}
{% if disabled %}
  <span class="civictheme-directional-link {{ modifier_class }}" {% if title is not empty %}title="{{ title }}"{% endif %} role="link" disabled="disabled" aria-disabled="true">
{% else %}
  <a class="civictheme-directional-link {{ modifier_class }}" {% if title is not empty %}title="{{ title }}"{% endif %} role="link" href="{{ url }}">
{% endif %}
  {% if aria_text is not empty %}
    <span class="visually-hidden">{{ aria_text }}</span>
    <span aria-hidden="true">{{ text }}</span>
  {% else %}
    {{ text }}
  {% endif %}

  {% if direction is not empty and icons[direction] is defined %}
    {% include '@atoms/icon/icon.twig' with {
      symbol: icons[direction],
      modifier_class: 'civictheme-icon--%s'|format(direction),
    } %}
  {% endif %}
{% if disabled %}
  </span>
{% else %}
  </a>
{% endif %}
