{#
/**
 * @file
 * Callout component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - content_top: [string] Content slot.
 * - content_bottom: [string] Content slot.
 * - title: [string] Title text.
 * - summary: [string] Summary text.
 * - links: [array] Array of link objects containing:
 *   - text: [string] Link text.
 *   - url: [string] Link URL.
 *   - type: [string] Link type.
 *   - size: [string] Link size.
 * - vertical_space: [string] With top, bottom or both vertical spaces.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set vertical_space_class = vertical_space in ['top', 'bottom', 'both'] ? 'civic-callout--vertical-space-%s'|format(vertical_space) : '' %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s'|format(theme_class, vertical_space_class, modifier_class|default('')) %}

<div class="civic-callout {{ modifier_class }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="civic-callout--wrapper">
          {% block content_top %}
            {% if content_top is not empty %}
              <div class="civic-callout__content-top">
                {{ content_top }}
              </div>
            {% endif %}
          {% endblock %}

          {% block content %}
            {% if title is not empty or summary is not empty %}
              <div class="civic-callout__text">
                {% if title is not empty %}
                  <div class="civic-callout__title">
                    {{ title }}
                  </div>
                {% endif %}

                {% if summary is not empty %}
                  <div class="civic-callout__summary">
                    {{ summary }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endblock %}

          {% block links %}
            <div class="civic-callout__links">
              {% for link in links %}
                {% if link.url is not empty %}
                  {% include '@atoms/button/button.twig' with {
                    theme: theme,
                    kind: 'link',
                    type: link.type,
                    size: link.size,
                    text: link.text,
                    url: link.url,
                  } only %}
                {% endif %}
              {% endfor %}
            </div>
          {% endblock %}

          {% block content_bottom %}
            {% if content_bottom is not empty %}
              <div class="civic-callout__content-bottom">
                {{ content_bottom }}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
