{#
/**
 * @file
 * Popover component story.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if content %}
  <div class="{{ modifier_class }}" data-popover {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
    <button data-popover-trigger data-popover-trigger-event="{{ trigger_event }}">
      TRIGGER ({{ trigger_event }} me)
    </button>
    <div data-popover-content>
      {{ content }}
    </div>
  </div>
{% endif %}
