{#
/**
 * @file
 * Banner component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - content_top1: [string] Content slot.
 * - breadcrumb: [string] Content slot.
 * - content_top2: [string] Content slot.
 * - content_top3: [string] Content slot.
 * - content_middle: [string] Content slot.
 * - content: [string] Content slot.
 * - content_bottom: [string] Content slot.
 * - content_below: [string] Content slot.
 * - section: [string] Site section.
 * - title: [string] Title.
 * - is_decorative: [boolean] Show as decorative.
 * - featured_image: [object] Featured image object:
 *   - src: [string] Source.
 *   - alt: [string] Alt text.
 * - background_image: [string] URL to a background image.
 * - background_image_blend_mode: [string] Type of the backgeound image blending. Defaults to 'normal'.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set is_decorative_class = is_decorative ? 'ct-banner--decorative': '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s'|format(theme_class, is_decorative_class, modifier_class|default('')) %}

{% if content_top1 is not empty or content_top2 is not empty or content_top3 is not empty or section is not empty or title is not empty or content_middle is not empty or content is not empty or content_below is not empty or content_bottom is not empty %}
  <div class="ct-banner {{ modifier_class }}">
    <div class="ct-banner__wrapper">
      <div
        class="ct-banner__wrapper__inner {% if background_image_blend_mode %}ct-background--{{ background_image_blend_mode|default('normal') }}{% endif %}"
        {% if background_image %}style="background-image: url('{{ background_image }}');"{% endif %}
      >
        <div class="container">

          {% if content_top1 is not empty %}
            <div class="row">
              {%- block content_top1 %}
                <div class="col-xxs-12">
                  <div class="ct-banner__content-top">
                    {{- content_top1 -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if breadcrumb is not empty or content_top2 is not empty %}
            <div class="row">
              {% if breadcrumb is not empty %}
                {%- block breadcrumb %}
                  <div class="col-xxs-12 col-m-6">
                    <div class="ct-banner__breadcrumb">
                      {{- breadcrumb -}}
                    </div>
                  </div>
                {% endblock -%}
              {% endif %}

              {% if content_top2 is not empty %}
                {%- block content_top2 %}
                  <div class="col-xxs-12 col-m-6">
                    <div class="ct-banner__content-top2">
                      {{- content_top2 -}}
                    </div>
                  </div>
                {% endblock -%}
              {% endif %}
            </div>
          {% endif %}

          {% if content_top3 is not empty %}
            <div class="row">
              {%- block content_top3 %}
                <div class="col-xxs-12">
                  <div class="ct-banner__content-top3">
                    {{- content_top3 -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if section is not empty %}
            <div class="row">
              {%- block section %}
                <div class="col-xxs-12">
                  <div class="ct-banner__section">
                    {% include '@atoms/heading/heading.twig' with {
                      content: section,
                      level: 5,
                    } only %}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if title is not empty %}
            <div class="row">
              {%- block title %}
                <div class="{{ featured_image is not empty ? 'col-xxs-12 col-m-6':'col-xxs-12 col-m-8' }}">
                  <div class="ct-banner__title">
                    {% include '@atoms/heading/heading.twig' with {
                      theme: theme,
                      content: title,
                      level: 1,
                    } only %}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if content_middle is not empty %}
            <div class="row">
              {%- block content_middle %}
                <div class="{{ featured_image is not empty ? 'col-xxs-12 col-m-6':'col-xxs-12 col-m-8' }}">
                  <div class="ct-banner__content-middle">
                    {{- content_middle -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

          {% if content is not empty %}
            <div class="row">
              {%- block content %}
                <div class="{{ featured_image is not empty ? 'col-xxs-12 col-m-6':'col-xxs-12 col-m-8' }}">
                  <div class="ct-banner__content">
                    {{- content -}}
                  </div>
                </div>
              {% endblock -%}
            </div>
          {% endif %}

        </div>
      </div>

      {% block featured_image %}
        {% if featured_image is not empty %}
          <div class="ct-banner__featured-image">
            {% include '@atoms/image/image.twig' with {
              theme: theme,
              src: featured_image.src,
              alt:  featured_image.alt,
            } only %}
          </div>
        {% endif %}
      {% endblock %}
    </div>

    {% if content_below is not empty %}
      <div class="container">
        <div class="row">
          {%- block content_below %}
            <div class="col-xxs-12">
              <div class="ct-banner__content-below">
                {{- content_below -}}
              </div>
            </div>
          {% endblock -%}
        </div>
      </div>
    {% endif %}

    {% if content_bottom is not empty %}
      <div class="container">
        <div class="row">
          {%- block content_bottom %}
            <div class="col-xxs-12">
              <div class="ct-banner__content-bottom">
                {{- content_bottom -}}
              </div>
            </div>
          {% endblock -%}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
