{#
/**
 * @file
 * Listing component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title.
 * - exposed: [string] Exposed filters.
 * - header: [string] Header slot.
 * - rows: [string] Rows content.
 * - empty: [string] Empty results content.
 * - pager: [string] Pager slot.
 * - gooter: [string] Footer slot.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<div class="civictheme-listing {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>

  {% block title %}
    {% if title -%}
      <div class="civictheme-listing__title">
        {{ title }}
      </div>
    {% endif %}
  {% endblock %}

  {% block exposed %}
    {% if exposed -%}
      <div class="civictheme-listing__exposed-form">
        {{ exposed }}
      </div>
    {% endif %}
  {% endblock %}

  {% block header %}
    {% if header -%}
      <header class="civictheme-listing__header" tabindex="0">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {{ header }}
            </div>
          </div>
        </div>
      </header>
    {% endif %}
  {% endblock %}

  {% block rows %}
    {% if rows -%}
      <div class="civictheme--listing__body">
        {{ rows }}
      </div>
    {% endif %}
  {% endblock %}

  {% block empty %}
    {% if rows is not defined or rows is empty -%}
      <div class="civictheme-listing__empty-results">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {{ empty }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block rows_below %}
    {% if pager is defined and pager is not empty %}
      <div class="civictheme-listing__results-below">
        <div class="container">
          <div class="row">
            {% block pager %}
              <div class="civictheme-listing__pager">
                {{ pager }}
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block footer %}
    {% if footer is not empty -%}
      <footer class="civictheme-listing__footer">
        {{ footer }}
      </footer>
    {% endif %}
  {% endblock %}

</div>
