{#
/**
 * @file
 * Messages component.
 *
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 *
 * Variables:
 * - type: [string] Message type: Info, Error, Warning, Success.
 * - theme: [string] Light, Dark.
 * - title: [string] Message title.
 * - description: [string] Message summary.
 *
 */
#}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set component_class = 'civic-header-notifications' %}
{% set type_class = 'civic-header-notifications--%s'|format(type|default('info')) %}
{% set messages_class = '%s %s %s'|format(component_class, theme_class, type_class) %}
{% set icons = {
  info: {
    spritesheet: '/icons/civic-user-interface.svg',
    symbol: 'user-interface-information-mark',
  },
  warning: {
    spritesheet: '/icons/civic-user-interface.svg',
    symbol: 'user-interface-exclamation-mark-1',
  },
  error: {
    spritesheet: '/icons/civic-user-interface.svg',
    symbol: 'user-interface-exclamation-mark-1',
  },
  success: {
    spritesheet: '/icons/civic-user-interface.svg',
    symbol: 'user-interface-approve',
  }
} %}

{% set alert_icon %}
  {% if icons[type] is defined %}
    {% include '@atoms/icon/icon.twig' with {
      spritesheet: icons[type].spritesheet,
      symbol: icons[type].symbol,
      modifier_class: '%s civic-icon--%s'|format(theme_class, type)
    } only %}
  {% endif %}
{% endset %}

{% set alert_cancel_icon %}
  {% if icons[type] is defined %}
    {% include '@atoms/icon/icon.twig' with {
      spritesheet: '/icons/civic-user-interface.svg',
      symbol: 'user-interface-cancel',
    } only %}
  {% endif %}
{% endset %}

<div class='{{ messages_class }}' data-component-name='header-notifications'>
  <div class='{{ component_class }}__content'>
    <div class='{{ component_class }}__title'>{{ alert_icon }}{{ title }}</div>
    <div class='{{ component_class }}__summary'>{{ description }}</div>
    <div class='{{ component_class }}__close-icon'>{{ alert_cancel_icon }}</div>
  </div>
</div>

