{#
/**
 * @file
 * Select component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - options: [array] Options:
 *   - type: [string] Option type: option group (optgroup) or option (option).
 *   - label: [string] Option label.
 *   - value: [string] Option value.
 *   - selected: [string] Flag whether option is selected.
 *   - options: [array] Array of options (applies to optgroup type):
 *     - label: [string] Option label.
 *     - value: [string] Option value.
 *     - selected: [string] Flag whether option is selected.
 * - state: [string] Input field state: error, success.
 * - required: [boolean] Required state.
 * - disabled: [boolean] Disabled state.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set state = state is empty or state == 'none' ? 'default' : state %}
{% set state_class = 'civictheme-input--%s'|format(state) %}
{% set disabled_class = disabled ? 'civictheme-input--disabled disabled' : '' %}
{% set required_class = required ? 'civictheme-input--required required' : '' %}
{% set modifier_class = '%s %s %s %s %s'|format(theme_class, state_class, disabled_class, required_class, modifier_class|default('')) %}

{% if options is not empty %}
  <select class="civictheme-select civictheme-input__element {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif%} {{ disabled ? 'disabled' }} {{ required ? 'required' }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            {% if sub_option.label is not empty %}
              <option value="{{ sub_option.value|default('') }}" {{ sub_option.selected ? 'selected="selected"' }}>{{ sub_option.label }}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        {% if option.label is not empty%}
          <option value="{{ option.value|default('') }}" {{ option.selected ? 'selected="selected"' }}>{{ option.label }}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>
{% endif %}
